<div class="container container-height">
    <div class="section no-pad-bot">


        <div class="row ">
            <form name="materialForm" class="col s12">
                <div class="row" align="center">
                    <div class="input-field col s4">
                        <input ng-model="vm.options.search" my-enter="vm.search(true)" type="text">
                        <label for="search">Search</label>
                    </div>

                    <div class="input-field col s4">
                        <select id="filter" ng-model="vm.options.filter" ng-change="vm.search(false)" ng-options="item.id as item.title for item in vm.allStatus track by item.id"
                            select-directive ng-cloak>
                             <option value="" >Select Status</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <a ng-click="vm.open()" class="waves-effect waves-light btn modal-trigger grey darken-3">Add</a>
                    </div>
                </div>

            </form>
        </div>

        <table class="striped">
            <thead>
                <tr>
                    <th>Application ID</th>
                    <th>Mobile Number</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in vm.list">
                    <td>{{obj.number}}</td>
                    <td>{{obj.mobileNumber}}</td>
                    <td>{{obj.Status.title}}</td>
                    <td><a ng-click="vm.open(obj)" class="btn btn-floating tiny teal"><i class="material-icons">edit</i></a></td>
                    <td><a ng-click="vm.onDelete(obj.id)" class="btn btn-floating tiny red"><i class="material-icons">delete</i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="paging" ng-if="vm.list.length > 0" align="center">
            <span class="showing-text-bx">
                    Showing {{ ((vm.options.page - 1) * vm.options.pagesize) + 1 }} to
                    <t ng-if="(vm.options.page * vm.options.pagesize) > vm.options.totalItems">{{vm.options.totalItems}}</t>
                    <t ng-if="(vm.options.page * vm.options.pagesize) < vm.options.totalItems">{{vm.options.page * vm.options.pagesize}}</t>
                    of {{vm.options.totalItems}} Records
                </span>
        <div class="paging-text">
            <ul uib-pagination ng-change="vm.pageChange()" boundary-links="true" max-size="4" force-ellipses="true" total-items="vm.options.totalItems" items-per-page="vm.options.pagesize" ng-model="vm.options.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
        
    `</div>
</div>