
<div class="section no-pad-bot">
    <div class="container">
        <div class="row">
            <form class="col s12">

                <div class="row" align="center">
                    <div class="input-field col s4">
                        <input ng-model="vm.options.search" ng-change="vm.search()" type="text">
                        <!--<input id="search" type="text">-->
                        <label for="search">Search</label>
                    </div>

                    <div class="input-field col s4">
                        <select>
                    <option value="" disabled selected>Select Status</option>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                    </select>
                        <label>Status</label>
                    </div>


                    <div class="input-field col s4">
                        <a ng-click="vm.open()" class="btn-floating btn-large waves-effect waves-light btn red"><i class="material-icons">add</i></a>
                        
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="section no-pad-bot">
    <div class="container">
        <table class="striped">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Mobile Number</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in vm.list">
                    <td>{{obj.number}}</td>
                    <td>{{obj.mobileNumber}}</td>
                    <td>{{obj.Status.title}}</td>
                    <td><a ng-click="vm.open(obj)" class="btn btn-floating btn-Small cyan"><i class="material-icons">edit</i></a></td>
                    <td><a ng-click="vm.onDelete(obj.id)" class="btn btn-floating btn-Small red"><i class="material-icons">delete</i></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

    <!--<div class="section no-pad-bot" align="center">
      <div class="container">
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
    </div>
</div>-->









<!--<div class="managecustomer-right-bx">
    <h4 class="admin-setting-heding">Manage Material Types</h4>
    <div class="customer-detail-page-contant managecustomer-right-bx-h4" ng-init="vm.getList()">
        <div class="customer-search-box-main"><input class="serchInput"   ng-model="vm.options.search" ng-change="vm.search()" placeholder="Search by Material Type" type="text"></div>
        <div class="right-add-new-button"><a ui-sref="secure.setting.edit-material">Add New</a></div>
        <div class="details-table">
            <h2 class="no-record-found-text" ng-if="!vm.list.length">No record found</h2>
            <table ng-if="vm.list.length > 0" class="table-part" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr class="top-purpal-color-row">
                        <th class="customer-detail-th-width-1">
                            <a href="" ng-click="vm.order('title',vm.asc)">
                                <font>Material Type</font>
                                <span ng-if="vm.asc === true" class="">
                                    <img ng-src="/images/up-arrow-1.png" alt="">
                                </span>
                                <span ng-show="vm.asc === false" class="">
                                    <img ng-src="/images/down-arrow-1.png" alt="">
                                </span>
                            </a>
                        </th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="obj in vm.list" ng-class="$index % 2 != 0 ? 'table-tr-alternate-color' : 'some'">
                        <td data-th="Material: " class="top-purpal-color-row2"><a href="" ng-click="vm.edit(obj)" class="customer-name-link">{{obj.title}} </a></td>
                        <td ng-if="obj.isActive" data-th="Status: " class="top-purpal-color-row2">Active</td>
                        <td ng-if="!obj.isActive" data-th="Status: " class="top-purpal-color-row2">Inactive</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="paging" ng-if="vm.list.length > 0">
        <span class="showing-text-bx">
            Showing {{ ((vm.options.page - 1) * vm.options.pagesize) + 1 }} to
            <t ng-if="(vm.options.page * vm.options.pagesize) > vm.options.totalItems">{{vm.options.totalItems}}</t>
            <t ng-if="(vm.options.page * vm.options.pagesize) < vm.options.totalItems">{{vm.options.page * vm.options.pagesize}}</t>
            of {{vm.options.totalItems}} Material Type Records
        </span>
        <div class="paging-text">
            <ul uib-pagination ng-change="vm.pageChange()" boundary-links="true" max-size="4" force-ellipses="true" total-items="vm.options.totalItems" items-per-page="vm.options.pagesize" ng-model="vm.options.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
</div>-->

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>