<div class="container container-height">
    <div class="section no-pad-bot">


        <div class="row ">
            <form class="col s12">

                <div class="row" align="center">
                    <div class="input-field col s4">
                        <input ng-model="vm.options.search" ng-change="vm.search(true)" type="text">
                        <label for="search">Search</label>
                    </div>

                    <div class="input-field col s4">
                        <select ng-model="vm.options.filter" ng-change="vm.search(false)" ng-cloak>
                            <option value="" >Select Status</option>
                            <option ng-repeat="status in vm.allStatus" value="{{status.id}}">{{status.title}}</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <a ng-click="vm.open()" class="waves-effect waves-light btn modal-trigger grey darken-3">Add</a>
                    </div>
                </div>

            </form>
        </div>

        <table class="striped">
            <thead>
                <tr>
                    <th>Application ID</th>
                    <th>Mobile Number</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in vm.list">
                    <td>{{obj.number}}</td>
                    <td>{{obj.mobileNumber}}</td>
                    <td>{{obj.Status.title}}</td>
                    <td><a ng-click="vm.open(obj)" class="btn btn-floating tiny teal"><i class="material-icons">edit</i></a></td>
                    <td><a ng-click="vm.onDelete(obj.id)" class="btn btn-floating tiny red"><i class="material-icons">delete</i></td>
                </tr>
            </tbody>
        </table>
      </div>

</div>
 

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });

    $(document).ready(function () {
        $('select').material_select();
    });

    $(document).ready(function () {
        $('.modal').modal();
    });

    $('#modal1').modal('open');

    $('#modal1').modal('close');

</script>