<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="number" placeholder="Number" type="text" class="validate" ng-model="vm.data.number">
                <label class="active" for="number">Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="mobileNumber" type="text" class="validate" ng-model="vm.data.mobileNumber">
                <label class="active" for="mobileNumber">Mobile Number</label>
            </div>
            <div class="input-field col s6">
                <select ng-model="vm.data.StatusId" ng-cloak>
                    <option value="" >Select Status</option>
                    <option ng-repeat="status in vm.allStatus" value="{{status.id}}">{{status.title}}</option>
                </select>
                <label>Status</label>
            </div>
        </div>

        <div class="row">
             <div class="input-field col s12">
                <a ng-disabled="vm.startProcessing" ng-click="vm.save()" class="waves-effect waves-light btn">Save</a>
            </div>
            <div class="input-field col s12">
                <a ng-click="vm.cancel()" class="waves-effect waves-light btn modal-close">Cancel</a>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>