<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">S N Finance</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ui-sref="adminHome">Home</a></li>
            <li class="active"><a ui-sref="home">Track Application Status</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="row center-align" style="padding-top:70px;opacity:0.9;">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8 ">
            <div class="card blue-grey lighten-4  ">
                <div class="card-content grey-text text-darken-3">
                    <h4 class="header center teal-text">Track Your Application Status.</h4>
                    <div class="row">
                        <div class="col s3"></div>
                        <div class=" col s6">
                            Answer all of the security questions below to get the application status please make sure that the information you provide
                            below matches what we have on record for you.
                        </div>
                        <div class="col s3"></div>
                    </div>
                    <form name="form" ng-submit="vm.search(data)">
                    <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s4">
                            <input name="number" id="number" type="text" class="validate" ng-model="vm.data.number" ng-pattern="/^[0-9]*$/">
                            <label for="number">Application ID</label>
                            <span style="float:left;" class="teal-text text-darken-3" ng-show="form.number.$error.pattern && form.number.$dirty">Application ID should be number.</span>
                            <!-- <span ng-show="form.AffiliateName.$error.minlength && form.$submitted">Affiliate Name should be at least 2 chars.</span> -->
                        </div>
                        <div class="input-field col s4">
                            <input name="mobileNumber" id="mobileNumber" type="text" class="validate" ng-model="vm.data.mobileNumber" ng-pattern="/^[0-9]*$/">
                            <label for="mobileNumber">Mobile Number</label>
                            <span style="float:left;" class="teal-text text-darken-3" ng-show="form.mobileNumber.$error.pattern && form.mobileNumber.$dirty">Mobile Number should be number.</span>
                        </div>
                        <div class="input-field col s2"></div>
                    </div>
                    <div class="row">
                        <span ng-if="vm.error" class="submit-error teal-text text-darken-3">{{vm.error}}</span>
                        <span ng-if="vm.result" class="submit-error teal-text text-darken-3">{{vm.result.Status.title}}</span>
                    </div>
                    <div class="row center">
                        <button type="submit" ng-disabled="vm.data.number == null || vm.data.mobileNumber == null" class="btn waves-effect waves-light grey darken-3" ng-click="vm.search()">Search</button>
                        <button type="button" ng-click="vm.data={};vm.clear()" id="download-button" class="btn waves-effect waves-light grey darken-3">Clear</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <p></p>
        </div>
    </div>
    <div class="parallax"><img src="../assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<footer class="page-footer">
    <div class="footer-copyright  light-blue darken-1">
        <div class="container">
            Copyright © 2017 S N Finance Services. All Rights Reserved.
        </div>
    </div>
</footer>